//base color
$gray-base:              #000;
$gray-lv1:              #222222;
$gray-lv2:              #767676;
$gray-lv3:              #B4B4B4;
$gray-lv4:              #DDDDDD;
$gray-lv5:              #EFEFEF;

$brand-primary:         #2196F3;
$primary-hover:         #0D86EA;
$primary-disable:       #B1DAFB;

$brand-success:         #8BC34A;
$success-hover:         #79B13A;
$success-disable:       #D7EAC0;

$brand-info:            #3E50B4;
$info-hover:         #2F3E9E;
$info-disable:       #BCC2E5;

$brand-warning:         #FEC006;
$warning-hover:         #FFA000;
$warning-disable:       #FFE9A8;

$brand-danger:          #F44336;
$danger-hover:         #E71C0C;
$danger-disable:       #FBBDB9;


$brand-white: #fff;
$brand-transparent: transparent;

//font color
$text-gray: $gray-lv1;

$body-bg-color: $gray-lv5;


